* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgreen;
}

/* HEADER */
header {
    background-color: gray;
}
/* Título */
#titulo {
    text-align: center;
    color: white;
}
/* NAVBAR */
nav {
    text-align: right;
    padding: 10px;
}
nav li {
    display: inline-block;
}
nav button {
    padding: 10px;
    border-radius: 15px; 
}
nav button:hover {
    cursor:pointer;
    background-color: lightgray;
}
/* Tela Principal */
.tela-principal {
    border: 1px solid black;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    background-color: lightyellow;
}

/* FAIXA TELA PRINCIPAL */
.faixa {
    background-color: burlywood;
    width: 100%; 
    height: 30px;
    margin: 0;
}
/* TÍTULO FAIXA TELA PRINCIPAL */
.faixa h2 {
    text-align: center;
    color: white;
}

/* CAMPO CRIAR TAREFAS */
.campo-tarefa {
    display: inline-block;
}
/* BARRA INPUT */
#campo {
    width: 200px;
    height: 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
/* BOTÃO CRIAR TAREFAS */
#btn-campo {
    width: 50px;
    height: 20px;
    margin-left: 7px;    
}
#btn-campo:hover {
    cursor:pointer;
    background-color: lightgray;
}