* {
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    background-color: gray;
}
/* Título */
#titulo {
    text-align: center;
    color: white;
}
/* NAVBAR */
nav {
    text-align: right;
    padding: 10px;
}
nav li {
    display: inline-block;
}
nav button {
    padding: 10px;
    border-radius: 15px; 
}
nav button:hover {
    cursor:pointer;
    background-color: lightgray;
}
/* Tela Principal */
.tela-principal {
    border: 1px solid black;
    width: 300px;
    height: 500px;
    display: flex;
    margin: auto;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}